#!/usr/bin/env bash
# shellcheck disable=SC1091

############### VENV ###############
# Emulate the pipenvs's activate, because we can't source things in direnv
layout_pipenv

############### Exports ###############
PROJ_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
export PROJ_DIR
echo "-M- exporting PROJ_DIR: $PROJ_DIR"

if which tmux > /dev/null 2>&1; then
    tmux rename-window "$(basename "$PROJ_DIR")"
fi

export senv="source $PROJ_DIR/scripts/env.sh"
export PYTHONPATH=$PROJ_DIR
export PIPENV_VENV_IN_PROJECT=1  # creates .venv

PATH_add $PROJ_DIR/scripts

export RUN_ENV=local

######################################## github ########################################
export GH_HOST=github.com

### unset for PyPi
unset TWINE_USERNAME
unset TWINE_PASSWORD

# vim: set foldmethod=marker foldmarker={{{,}}}:
