[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
build = "*"
codecov = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
#black = "*"
flake8 = "*"
flake8-assert-msg = "*"
flake8-blind-except = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
flake8-eradicate = "*"
flake8-pytest-style = "*"
httpx = "*"
asgi-lifespan = "*"

[packages]
starlette = "*"
uvicorn = "*"
fastapi = "*"
anyio = "*"

[requires]
python_version = "3"
