[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
build = "*"
codecov = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
black = "*"
flake8 = "*"
flake8-bugbear = "*"
httpx = "*"
asgi-lifespan = "*"
#pydevd-pycharm = "~=231.8770.66"
psutil = "*"

[packages]
starlette = "*"
uvicorn = "*"
fastapi = "*"
anyio = "*"

[requires]
python_version = "3"
